<ion-menu side="start" menuId="first" contentId="menu-items">
  <ion-content id="menu-items">
    <div id="menu-cover">
      <img src="../../assets/profile/cover_land.jpg" alt="coverPhoto" />
      <div id="menu-profile">
        <ion-avatar>
          <img src="{{userInfo.image}}" alt="profile" />
        </ion-avatar>
        <ion-text class="drawer-text-name">{{userInfo.name}}</ion-text><br />
        <a href="mailto:{{userInfo.email}}" class="drawer-text-email"
          >{{userInfo.email}}</a
        >
      </div>
    </div>

    <ion-list>
      <div matRipple>
        <ion-button class="drawer-btn" fill="clear" (click)="showAbout()">
          <ion-icon class="drawer-btn-icon" name="information"></ion-icon>About
        </ion-button>
      </div>
      <hr />
      <div matRipple>
        <ion-button class="drawer-btn" fill="clear" (click)="logout()">
          <ion-icon class="drawer-btn-icon" name="log-out"></ion-icon>Logout
        </ion-button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<!--  <ion-header>-->
<ion-card id="searchBar">
  <ion-card-content style="padding: 0; margin: 0">
    <ion-grid style="padding: 0; margin: 0">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="height: 44px">
          <div style="margin-top: -8px; margin-left: -10px">
            <ion-button fill="clear" style="width: 100%; height: 100%">
              <ion-menu-button></ion-menu-button>
            </ion-button>
          </div>
        </ion-col>
        <ion-col
          size="10"
          routerDirection="forward"
          routerLink="/search"
          id="search-bar"
          style="height: 44px"
        >
          <div style="margin-top: 10px; margin-bottom: 10px">
            <ion-text>Search for bus number</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list">
        <ion-icon name="list"></ion-icon>
        <ion-label>List</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map">
        <ion-icon name="navigate"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="chat">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
