<!-- <ion-header> -->
<ion-toolbar>
  <ion-button fill="clear" slot="start" class="back-button">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-button>
  <ion-searchbar id="search" (ionChange)="onInput()"></ion-searchbar>
</ion-toolbar>
<!-- </ion-header> -->
<ion-content>
  <ion-list id="search-items">
    <ion-item
      *ngFor="let bus of busData"
      lines="none"
      style="padding: 0; margin: 0"
    >
      <ion-card
        style="padding: 0; margin: 2px auto"
        routerLink="/tabs/map/{{bus.busId}}"
      >
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center" size="2.7">
              <ion-avatar style="padding: 0; margin: 0">
                <img src="{{bus.image}}" alt="bus" />
              </ion-avatar>
            </ion-col>
            <ion-col class="ion-align-self-center" size="9.3">
              <ion-card-header style="padding: 0; margin: 0">
                <ion-card-subtitle><b>#{{bus.busId}}</b></ion-card-subtitle>
                <ion-card-content style="padding: 0; margin: 0"
                  >গন্তব্য <b>{{bus.departure.from}}</b> থেকে
                  <b>{{bus.departure.to}}</b></ion-card-content
                >
              </ion-card-header>
              <ion-card-content style="padding: 0; margin: 0">
                আমি বাইরে থাকি {{bus.departure.startTime}} থেকে
                {{bus.departure.endTime}} পর্যন্ত
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
<!--<ion-avatar>-->
<!--  <img src="{{bus.image}}" alt="bus">-->
<!--</ion-avatar>-->
<!--<ion-label>{{bus.busNumber}}</ion-label>-->
