.bg {
    --background: rgba(var(--ion-color-primary-rgb), 0.05);
}
.bg-secondary {
    --background: rgba(var(--ion-color-secondary-rgb), 0.05);
}
.bg-white {
    background: #FFF;
}


.chat-bubble {
    width: auto;
    max-width: 75%;
    min-width: 25%;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 10px;
    display: block;
    clear: both;
    position: relative;
    margin-bottom: 0;

    &.received {
        background: #FFF;
        float: left;
    }

    &.send {
        background: var(--ion-color-primary);
        float: right;
        text-align: right;
        color: #fff;
    }

    h6 {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 400;
    }

    p {
        margin: 0;
        font-size: .7rem;
        opacity: .4;
    }

}

.chat-container {
    // height: calc(100% - 60px);
    height: 100%;
    // overflow-y: s;
    // overflow: hidden;
}
.chat-controls {
    background: #FFF;
    // padding: 3px 2px;
    position: fixed;
    bottom: -10px;
    width: 100%;
    box-shadow: 0 -1px 43px 5px rgba(98,98,98,.1);
    z-index: 9;

    .option {
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s;
        transition: all .3s;

        ion-col {
            color: var(--ion-color-primary);
            margin-bottom: 15px;
            font-size: 1rem;
            font-weight: 400;
        }
        ion-icon::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 3rem;
            line-height: 65px;
        }
        ion-icon {
            color: var(--ion-color-primary);
            display: block;
            width: 25px;
            height: 25px;
            background: #f3f9f5;
            border-radius: 50px;
            margin: auto;
            margin-bottom: auto;
            padding: 15px;
            position: relative;
            margin-bottom: 7px;
        }
    }
    &.active {
        .option {
            height: 230px;
            transition: all .3s;
        }
    }

    ion-row ion-col {
        ion-list {
            margin: 0 -2px;

            ion-item {
                border-radius: 7px;
                --background: #fff;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border-bottom: none !important;
            }
        }

        p {
            border-radius: 7px;
            font-size: 14pt;
            margin: 0;
            line-height: 44px;
            height: 44px;
            color: #bcbcbc;
            min-width: 20px;
            overflow: hidden;

            ion-icon {
                width: 22px;
                height: 22px;
                text-align: center;
                font-size: 4rem;
                color: #828282;
                margin-top: 11px;
                color: #828282;
                margin-top: 22.5px;
                margin-right: 10.115px;
            }
        }
    } 
    
}

.text-primary {color: var(--ion-color-primary) !important;}
.text-secondary {color: var(--ion-color-secondary) !important;}
.text-danger {color: var(--ion-color-danger) !important;}
.text-muted {color: #999;}