<ion-list class="popover">
  <ion-item button (click)="select()"><img width="20px" height="20px" src="../../../../assets/icon/tick.png" style="margin-right: 20px;"> Select</ion-item>
  <ion-item button (click)="delete()"><img width="20px" height="20px" src="../../../../assets/icon/delete.png" style="margin-right: 20px;"> Delete</ion-item>
  <ion-item lines="none" button (click)="info()"><img width="20px" height="20px" src="../../../../assets/icon/info.png" style="margin-right: 20px;"> Info</ion-item>
</ion-list>